project:
  type: website

website:
  title: "UB Campus Phenology"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    includes:
        after_body: include/after_body.html
